body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  justify-content: center;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px; /* Adjust the size of the SVG */
  height: auto;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 3rem;
  color: #1a73e8;
}

.header p {
  font-size: 1.2rem;
  color: #666;
}

.download-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.download-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.download-button img {
  height: 50px;
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #888;
}

.file-download-section {
  margin: 40px 0;
  text-align: center;
}

.file-download-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.file-download-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #1a73e8;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.file-download-button:hover {
  background-color: #1557b0;
}
