:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Disable default overscroll behavior */
.container {
  overscroll-behavior-x: none;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9c50e2; /* Color of the scrollbar thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a3db5; /* Color of the scrollbar thumb on hover */
}

body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
}
body::-webkit-scrollbar-thumb {
  background: #7a3db5; /* Blue scrollbar thumb */
  border-radius: 4px; /* Rounded edges */
}

body::-webkit-scrollbar-thumb:hover {
  background: #9c50e2; /* Darker blue on hover */
}